<div class="text">
  <p>
    Целта на системата ни е да предоставим възможност и достъп на потребителите ни до платформа пълна с курсове, разработени
    от професионалисти. </p>
  <p>Ние имаме за цел да обединим всички свободно качени обучения на най-добрите световни университети и академии. Всеки регистриран
    потребител ще може да разглежда качените на платформата курсове, да ги добава в любими, да дава рейтинг за всеки курс
    и обратна връзка за него.</p>
</div>

<div class="content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>Stanimira Vlaeva</h2></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/stanimira.png" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>Dimitar Dimitrov</h2></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/dimitar.png" alt="Photo of a Shiba Inu" width="200">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>Martin Gavrilov</h2></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/martin.png" alt="Photo of a Shiba Inu">
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>Georgi Avramov</h2></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/georgi.png" alt="Photo of a Shiba Inu">
    
  </mat-card>
</div>