mat-card-content {
    display: flex;
    justify-content: center;
}

mat-card {
    width: 25%;
    margin-left:auto;
    margin-right: auto;
}

mat-form-field {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
mat-card-header {
    display: flex;
    justify-content: center;
}