<mat-card>
  <mat-card>
    <h2>
      {{ post.name }}
    </h2>

    <h3>
      {{ post.description }}
    </h3>

    <p>
      by {{ post.author }}
    </p>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Comments
    </mat-card-title>
    <mat-card>
      <mat-card-content>
        <p>
          Lorem ipsum 1l2321k3123
        </p>
        <p>by Grigor Dimitrov</p>
        <p>Posted on: 24.06.2020</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <p>
          Very interesting
        </p>
        <p>by Maria Ivanova</p>
        <p>Posted on: 31.06.2020</p>
      </mat-card-content>
    </mat-card>
  </mat-card>

</mat-card>