<mat-card *ngFor="let course of courses" style="margin-bottom: 20px">
    <mat-card-header>
        <a mat-card-title [routerLink]="['/courses', 'course', course.name]">{{ course.name }}</a>
        <mat-card-subtitle>Lecturer: {{ course.lecturer }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ course.details }}
    </mat-card-content>

    <mat-card-footer>
        <span style="margin: 20px; float: right">Progress: {{ course.progress }}%</span>
        <mat-progress-bar mode="determinate" [value]="course.progress" [bufferValue]="" color="primary"></mat-progress-bar>
    </mat-card-footer>
</mat-card>